<div class="home-page">
  <div class="graficos">
    <h2 class="subtitle">Gráfico Idade</h2>
    <canvas id="chartAge"></canvas>
    <h2 class="subtitle">Gráfico Cor de Pele</h2>
    <canvas id="chartSkin"></canvas>
  </div>
  <div class="fool-info"></div>
  <div class="tabela">
    <h2 class="subtitle">Lista de Pessoas</h2>
    <table class="table-info">
      <thead class="table-head"></thead>

      <tbody class="table-body"></tbody>
    </table>
  </div>
  <div class="favoritos">
    <h2 class="subtitle">Favoritos</h2>
    <ul class="favorites-list"></ul>
  </div>
</div>

<script src="./components/dashboard/index.js"></script>
<link rel="stylesheet" href="./components/dashboard/style.css" />
