<div class="form">
  <form class="login-form" method="POST">
    <input
      name="login"
      placeholder="Digite o usuário"
      type="text"
      class="ipt-login"
      id="login"
    />
    <input
      name="password"
      placeholder="Digite a senha"
      type="password"
      class="ipt-login"
      id="pass"
    />
    <button class="btn-login" id="btn-login">Login</button>
  </form>
</div>
<div class="cadastro">
  <span
    >Ainda não tem conta?
    <a id="cadastrar" class="cadastrar">Cadastrar</a></span
  >
</div>
<script src="./components/login/index.js"></script>
