<div class="register-page">
  <div class="form">
    <form class="register-form" method="POST">
      <input
        name="login"
        placeholder="Digite o usuário"
        type="text"
        class="ipt-login"
        id="login"
      />
      <input
        name="password"
        placeholder="Digite a senha"
        type="password"
        class="ipt-login"
        id="pass"
      />
      <button class="btn-login" id="btn-cadastrar">Cadastrar</button>
    </form>
  </div>
</div>
<script src="./components/register/index.js"></script>
